/* START MAIN CONDITIONS */

:root {
    --c-main: #88D66C;
    --c-second: #508D4E;
    --c-gray-1: #0E0E0E;
    --c-gray-2: #111111;
    --c-gray-3: #141414;
    --c-gray-4: #0C0C0C;
    --c-gray-5: #666666;
    --c-white-30: rgba(255, 255, 255, 0.3);
    --c-white-50: rgba(255, 255, 255, 0.5);
    --transition: .3s;
    --radius: 5px;
    --border-top: 5px 5px 0 0;
    --border-right: 0 5px 5px 0;
    --border-bottom: 0 0 5px 5px;
    --border-left: 5px 0 0 5px;
    --border-shadow: 1px solid rgba(255, 255, 255, 0.05);
    --dark-box-shadow:
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        0px 3px 4px 0px hsla(0, 0%, 0%, 0.14),
        0px 3px 3px -2px hsla(0, 0%, 0%, 0.12),
        0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);
    --linear: linear-gradient(45deg, black, var(--c-main));
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    outline: navajowhite;
    box-sizing: border-box;
}

body {
    font-family: "Cairo";
    background-color: var(--c-gray-3);
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--c-main);
}

/* END MAIN CONDITIONS */

/* START COMPONENT */

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade {
    animation: fade 2s linear;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.title {
    margin-bottom: 70px;
    padding: 0 50px;
}

.title h1 {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.title h1::before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -5px;
    height: 1px;
    width: 100px;
    transform: translateX(-50%);
    background-color: var(--c-second);
}

.title p {
    text-align: center;
    color: white;
    opacity: .7;
    text-transform: capitalize;
}

.pointer {
    cursor: pointer;
}

.transition {
    transition: var(--transition);
}

.pointer-none {
    pointer-events: none;
}

.b-shadow-t {
    border-top: var(--border-shadow);
}

.b-shadow-r {
    border-right: var(--border-shadow);
}

.b-shadow-b {
    border-bottom: var(--border-shadow);
}

.b-shadow-l {
    border-left: var(--border-shadow);
}

.o-hidden {
    overflow: hidden;
}

.o-auto {
    overflow: auto;
}

*:disabled {
    position: relative;
    cursor: not-allowed;
    opacity: .7;
}

/* END COMPONENT */

/* START POSITION */

.p-rel {
    position: relative;
}

.p-abs {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
    top: 0;
}

.z100 {
    z-index: 100;
}

.t-0 {
    top: 0;
}

.r-0 {
    right: 0;
}

.b-0 {
    bottom: 0;
}

.l-0 {
    left: 0;
}

/* END POSITION */

/* START BOX */

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-between {
    align-items: center;
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-2 {
    gap: 2px;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.d-grid {
    display: grid;
}

.d-block {
    display: block;
}

/* END BOX */

/* START BORDER */

.rad-50 {
    border-radius: 50%;
}

.rad-5 {
    border-radius: 5px;
}

.rad-right-5 {
    border-radius: var(--border-right);
}

.rad-left-5 {
    border-radius: var(--border-left);
}

/* END BORDER */

/* START OPACITY */

.opacity-0 {
    opacity: 0;
}

/* END OPACITY */

/* START COLORS */

.c-white {
    color: white;
}

.c-main {
    color: var(--c-main);
}

.c-gray-5 {
    color: var(--c-gray-5);
}

.bg-linear {
    background: var(--linear);
}

.bg-main {
    background-color: var(--c-main);
}

.bg-gray-1 {
    background-color: var(--c-gray-1);
}

.bg-gray-2 {
    background-color: var(--c-gray-2);
}

.bg-gray-3 {
    background-color: var(--c-gray-3);
}

.bg-gray-4 {
    background-color: var(--c-gray-4);
}

.bg-gray-5 {
    background-color: var(--c-gray-5);
}

/* END COLORS */

/* START FONT */

.fs-13 {
    font-size: 13px;
}

.fs-15 {
    font-size: 15px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}

.fs-50 {
    font-size: 50px;
}

.fs-60 {
    font-size: 60px;
}

.fs-70 {
    font-size: 70px;
}

.txt-center {
    text-align: center;
}

.fw-bold {
    font-weight: bold;
}

.fw-nl {
    font-weight: normal;
}

/* END FONT */

/* START SIZE + PADDING + MARGIN */

/* WIDTH */

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-100 {
    width: 100%;
}

/* HEIGHT */

.h-100v {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

/* PADDING */

/* 5 */

.p-5 {
    padding: 5px;
}

.p-5h {
    padding-right: 5px;
    padding-left: 5px;
}

.p-5v {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pl-5 {
    padding-left: 5px;
}

/* 10 */

.p-10 {
    padding: 10px;
}

.p-10h {
    padding-right: 10px;
    padding-left: 10px;
}

.p-10v {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

/* 20 */

.p-20 {
    padding: 20px;
}

.p-20h {
    padding-right: 20px;
    padding-left: 20px;
}

.p-20v {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

/* 50 */

.p-50 {
    padding: 50px;
}

.p-50h {
    padding-right: 50px;
    padding-left: 50px;
}

.p-50v {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pt-50 {
    padding-top: 50px;
}

.pr-50 {
    padding-right: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pl-50 {
    padding-left: 50px;
}

/* MARGIN */

/* 10 */

.m-auto {
    margin: auto;
}

.m-10 {
    margin: 10px;
}

.m-10h {
    margin-right: 10px;
    margin-left: 10px;
}

.m-10v {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

/* 20 */

.m-20 {
    margin: 20px;
}

.m-20h {
    margin-right: 20px;
    margin-left: 20px;
}

.m-20v {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}

/* 50 */

.m-50 {
    margin: 50px;
}

.m-50h {
    margin-right: 50px;
    margin-left: 50px;
}

.m-50v {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-50 {
    margin-left: 50px;
}

/* END SIZE + PADDING + MARGIN */